<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="estilos/login.css">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Outfit&family=Secular+One&family=Space+Grotesk:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
	<title>Iniciar Sesión</title>
</head>
<body>
	<form method="POST" action="/login">
		<img src="img/logo.png" alt="UASD" class="logo">
		<label for="">Matricula:</label>
		<input type="text" name="matricula">
		<label for="">Contraseña:</label>
		<input type="password" name="password">
		<a href="./registro" class="link-registrar">Registrar Estudiante</a>
		<input type="Submit" value="Ingresar" class="boton">
	</form>
</body>
</html>