<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista usuario root</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Outfit&family=Secular+One&family=Space+Grotesk:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="./estilos/root.css" rel="stylesheet">
    <script>
        window.onload = ()=>{
            const btn_salir= document.getElementById('btn_salir')
            btn_salir.addEventListener('click', Salir)
            
        }
        const Salir = ()=>{
            location.assign("./login")
        }
    </script>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        
            <a class="navbar-brand ms-5"><h1>UASD/ROOT</h1></a>
            <button class="btn me-2 ms-auto" id="btn_salir">
                Salir<img src="SVG/logout-svgrepo-com.svg" alt="salir" style="height: 30px; max-width: 30px;">
            </button>
    
        </nav>
    </header>

    <main>
        <div class="buscador">
            <h2>Usuarios</h2>
            <form>
                <input type="text">
                <button type="submit" class="btn btn-secondary btn-lg px-5">Buscar</button>
              </form>
        </div>     

        </div class="registros">
            <table class="table">
                <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-light">
                    <td id="matricula">123456</td>

                    <td id="nombre">Un usuario mas</td>
                    
                    <td>
                    <button class="btn btn-info mx-2" id="boton-detalles" data-target="#modal">Detalles</button>
                    <button class="btn btn-warning mx-2" id="boton-editar">Editar</button>
                    <button class="btn btn-danger mx-2">Eliminar</button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        

    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>